{% extends 'core/base.html' %}

{% block body %}
  <div id='{{ abstract.id }}-detail-container' class="container">
  {% include 'abstract/abstract.html' %}
  <br>

  <a class="btn btn-outline-dark mt-1"
     href="{% url 'account:profile' %}">
    Back
  </a>
</div>

{% endblock %}


{% block extra_scripts %}
<script type="text/javascript">
  $("document").ready(function() {
    let table = $("#review-table").DataTable({
      paging: false,
      dom: "",
    });
  });
</script>
{% endblock %}
