<div class="abstract-detail" id="{{ abstract.id }}-detail">
  <h2>{{ abstract.title }}</h2>

  {% if CHAIR_GROUP in request.user.profile.group_names %}
    <hr>
    <a class="btn btn-outline-danger mt-1"
       href="{% url 'abstract:abstract_summary' abstract.id %}?show_demographics=True">
      Show demographics
    </a>
    <a class="btn btn-outline-danger mt-1"
       href="{% url 'abstract:abstract_summary' abstract.id %}">
      Hide demographics
    </a>
    <hr>
  {% endif %}

  <p>{{ abstract.text }}</p>
  <p><strong>Submitted by:</strong> {{ abstract.submitter.profile.display_name }}</p>
  <p><strong>Contribution:</strong> {{ abstract.contribution }}</p>
  <p>
    <strong>Contributing authors:</strong>
      {% if not abstract.get_authors|length %}
       Not provided
      {% else %}
      <ul>
        {% for author in abstract.get_authors %}
          <li>{{ author }}</li>
        {% endfor %}
      </ul>
      {% endif %}
  </p>
  <p>
    <strong>Author affiliations:</strong>
      {% if not abstract.get_affiliations|length %}
       Not provided
      {% else %}
      <ul>
        {% for affiliation in abstract.get_affiliations %}
          <li>{{ affiliation }}</li>
        {% endfor %}
      </ul>
      {% endif %}
  </p>
  <p><strong>Categories:</strong> {{ abstract.categories.all|join:', ' }}</p>
  <p><strong>Keywords:</strong> {{ abstract.keywords.all|join:', ' }}</p>
  <p><strong>Overall score:</strong> {{ abstract.score|stringformat:"#.3g"|default:'-' }}</p>
</div>


{% if CHAIR_GROUP in request.user.profile.group_names %}
  {% if show_demographics %}
    <div class="abstract-demographics" id="{{ abstract.id }}-demographics">
      <hr>
      <h4>Demographic Information</h4>
      <p><strong>Career stage:</strong> {{ abstract.submitter.profile.career_stage }}</p>
      <p><strong>Gender:</strong> {{ abstract.submitter.profile.gender }}</p>
      <p><strong>State:</strong> {{ abstract.submitter.profile.state }}</p>
      <p><strong>Aboriginal or Torres Straight Islander:</strong> {{ abstract.submitter.profile.aboriginal_or_torres }}</p>
    </div>
  {% endif %}
{% endif %}

<div id="{{ abstract.id }}-reviews" class="abstract-reviews">
  <hr>
  <h2>Assignment summary</h2>
  <br>
  {% if not abstract.assignments.count %}
    <p class="text-muted">This abstract has not been assigned for review</p>
  {% else %}
    <div class="table-responsive">
      <table id="review-table" class="table table-hover display" style="width:100%">
        <thead>
          <th>Username</th>
          <th>Name</th>
          <th>Status</th>
          {% if CHAIR_GROUP in request.user.profile.group_names %}
            <th>Content</th>
            <th>Contribution</th>
            <th>Interest</th>
          {% endif %}
        </thead>
        <tbody>
          {% for assignment in abstract.assignments.all %}
            <tr>
              <td>{{ assignment.reviewer.username }}</td>
              <td>{{ assignment.reviewer.profile.full_name }}</td>
              <td>
                {% if assignment.status == DECLINED %}
                  Declined
                {% else %}
                  {{ assignment.status|capfirst }}
                {% endif %}
              </td>
              {% if CHAIR_GROUP in request.user.profile.group_names %}
                <td>{{ assignment.review.score_content|default:'-' }}</td>
                <td>{{ assignment.review.score_contribution|default:'-' }} </td>
                <td>{{ assignment.review.score_interest|default:'-' }} </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
</div>

<div id="{{ abstract.id }}-reviews" class="abstract-reviews">
  <hr>
  <h2>Comments</h2>
  <br>
  {% if not abstract.completed_assignments.count %}
    <p class="text-muted">This abstract has not been reviewed</p>
  {% else %}
    <div class="container">
      {% for assignment in abstract.accepted_assignments %}
        <div class="media">
          <i class="align-self-start mr-3 fa fa-check" style="font-size: 34px; color: #5cb85c"></i>
          <div class="media-body">
            <h5 class="mt-2">{{ assignment.reviewer.profile.full_name }}</h5>
              <div class="border-review hover-div">
                <p class="markdown">{{ assignment.review.text|default:'No comment provided' }}</p>
              </div>
          </div>
        </div>
        {% if forloop.counter0 < abstract.accepted_assignments.count %}
        <br>
        {% endif %}
      {% endfor %}
      {% for assignment in abstract.declined_assignments %}
        <div class="media">
          <i class="align-self-start mr-3 fa fa-times" style="font-size: 34px; color: #dd0c15"></i>
          <div class="media-body">
            <h5 class="mt-2">{{ assignment.reviewer.profile.full_name }}</h5>
            <div class="border-decline hover-div">
              <p class="markdown">{{ assignment.get_comment|default:'No comment provided' }} </p>
            </div>
          </div>
        </div>
        {% if forloop.counter0 < abstract.declined_assignments.count %}
        <br>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
