<div class="abstract-detail" id="{{ abstract.id }}-detail">
  <h2>{{ abstract.title }}</h2>
  <p>{{ abstract.text }}</p>
  <p><strong>Submitted by:</strong> {{ abstract.submitter.profile.display_name }}</p>
  <p><strong>Contribution:</strong> {{ abstract.contribution }}</p>
  <p>
    <strong>Authors:</strong>
    <ul>
      {% for author in abstract.get_authors %}
        <li>{{ author }}</li>
      {% endfor %}
    </ul>
  </p>
  <p>
    <strong>Author affiliations:</strong>
    <ul>
      {% for affiliation in abstract.get_affiliations %}
        <li>{{ affiliation }}</li>
      {% endfor %}
    </ul>
  </p>
  <p><strong>Categories:</strong> {{ abstract.categories.all|join:', ' }}</p>
  <p><strong>Keywords:</strong> {{ abstract.keywords.all|join:', ' }}</p>
  <p><strong>Overall score:</strong> {{ abstract.score|stringformat:"#.3g"|default:'-' }}</p>
</div>

{% if show_demographics %}
  <div class="abstract-demographics" id="{{ abstract.id }}-demographics">
    <hr>
    <h4>Demographic Information</h4>
    <p><strong>Career stage:</strong> {{ abstract.submitter.profile.career_stage }}</p>
    <p><strong>Gender:</strong> {{ abstract.submitter.profile.gender }}</p>
    <p><strong>State:</strong> {{ abstract.submitter.profile.state }}</p>
    <p><strong>Aboriginal or Torres Straight Islander:</strong> {{ abstract.submitter.profile.aboriginal_or_torres }}</p>
  </div>
{% endif %}

<div id="{{ abstract.id }}-reviews" class="abstract-reviews">
  <hr>
  <h2>Assignment summary</h2>
  <br>
  {% if not abstract.assignments.count %}
    <p class="text-muted">This abstract has not been assigned for review</p>
  {% else %}
    <div class="table-responsive">
      <table id="review-table" class="table table-hover display" style="width:100%">
        <thead>
          <th>Username</th>
          <th>Name</th>
          <th>Status</th>
          <th>Content</th>
          <th>Contribution</th>
          <th>Interest</th>
        </thead>
        <tbody>
          {% for assignment in abstract.assignments.all %}
            <tr>
              <td>{{ assignment.reviewer.username }}</td>
              <td>{{ assignment.reviewer.profile.full_name }}</td>
              <td>
                {% if assignment.status == DECLINED %}
                  Declined
                {% else %}
                  {{ assignment.status|capfirst }}
                {% endif %}
              </td>
              <td>{{ assignment.review.score_content|default:'-' }}</td>
              <td>{{ assignment.review.score_contribution|default:'-' }} </td>
              <td>{{ assignment.review.score_interest|default:'-' }} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
</div>

<div id="{{ abstract.id }}-reviews" class="abstract-reviews">
  <hr>
  <h2>Comments</h2>
  <br>
  {% if not abstract.assignments.count %}
    <p class="text-muted">This abstract has not been assigned for review</p>
  {% else %}
    <div class="container">
      {% for assignment in abstract.assignments.all %}
        {% if assignment.review or assignment.rejection_comment %}
          <div class="media">
            {% if assignment.review %}
              <i class="align-self-start mr-3 fa fa-check" style="font-size: 34px; color: #5cb85c"></i>
            {% else %}
              <i class="align-self-start mr-3 fa fa-times" style="font-size: 34px; color: #dd0c15"></i>
            {% endif %}
            <div class="media-body">
              <h5 class="mt-2">{{ assignment.reviewer.profile.full_name }}</h5>
              {% if assignment.review %}
                <div class="border-review hover-div">
                  <p class="markdown">{{ assignment.review.text|default:'-' }}</p>
                </div>
              {% else %}
                <div class="border-decline hover-div">
                  <p class="markdown">{{ assignment.get_comment|default:'-' }} </p>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% if forloop.counter0 < abstract.assignments.count %}
        <hr>
      {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
