{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ABACBS Abstract Submission</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AbsSS">
    <meta name="author" content="Daniel C. Esposito">
    <meta name="keywords" content="abstract,submission system,abstract review,conference abstract review,conference">
{#    <link href="{% static 'core/google/fonts_icons.css' %}" rel="stylesheet" type="text/css">#}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="{% static 'core/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/select2/select2_4.0.5.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/fontawesome/fontawesome_5.1.0.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/core/base.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{% static 'core/core/small_logo.svg' %}">
  </head>

  <body>
    <!-- Header for screen width > 768 -->
    <header id="header">
      <a id="header-logo-wrapper" href="https://www.abacbs.org/" target="_blank">
        <img id="header-logo" src="{% static 'core/core/small_logo.svg' %}">
      </a>
      <div class="header-nav">
        <a class="nav-link" href="{% url 'index:index' %}">Home</a>
        <a class="nav-link" href="{% url 'index:index' %}">Guide</a>
        {% if not request.user.is_authenticated %}
          <div class="nav-dropdown">
            <a class="nav-link" href="#">Login <i class="fa fa-caret-down"></i></a>
            <ul class="nav-dropdown-content zero-pad-ul">
              <li><a class="nav-link" href="#" data-toggle="modal" data-target="#orcid-login">Applicant</a></li>
              <li><a class="nav-link" href="{% url 'account:staff_login' %}">Staff</a></li>
            </ul>
          </div>
        {% else %}
          <div class="nav-dropdown">
            <a class="nav-link" href="#">Profile <i class="fa fa-caret-down"></i></a>
            <ul class="nav-dropdown-content zero-pad-ul">
              {% if request.user.groups.first.name == SUBMITTER_GROUP %}
                <li><a class="nav-link" href="{% url 'account:profile' %}">Dashboard</a></li>
                <li><a class="nav-link" href="{% url 'abstract:submit_abstract' %}">New abstract</a></li>
                <li><a class="nav-link" href="{% url 'account:scholarship_application' %}">Travel scholarship</a></li>
              {% endif %}
              <li><a class="nav-link" href="{% url 'account:edit_profile' %}">Settings</a></li>
              <li><a class="nav-link" href="{% url 'account:logout' %}">Logout</a></li>
            </ul>
          </div>
        {% endif %}
      </div>
    </header>


    <!-- Header for screen width <= 768 -->
    <div id="mobile-header">
      <img id="mobile-header-menu" class="menu-icon"
           src="{% static 'core/core/small_logo.svg' %}">
    </div>

    <!-- ORCID modal -->
    {% include 'index/orcid_login_modal.html' %}

    <!-- Sidebar for mobile devices -->
    <div id="sidebar">
      <div id="inner-sidebar">
        <img id="sidebar-logo" src="{% static 'core/core/small_logo.svg' %}">
        <hr>
        <ul class="zero-pad-ul">
          <li class="nav-link"><a class="hover-underline" href="{% url 'index:index' %}">Home</a></li>
          <li class="nav-link"><a class="hover-underline" href="{% url 'index:index' %}">Guide</a></li>

          {% if not request.user.is_authenticated %}
            <li class="nav-link"><a class="hover-underline" href="">Login</a></li>
              <li class="nav-link indent"><a class="hover-underline" href="#" data-toggle="modal" data-target="#orcid-login">Applicant</a></li>
              <li class="nav-link indent"><a class="hover-underline" href="">Staff</a></li>
          {% else %}
            <li class="nav-link"><a class="hover-underline" href="">Profile</a></li>
              {% if request.user.groups.first.name == SUBMITTER_GROUP %}
                <li class="nav-link indent"><a class="hover-underline" href="{% url 'account:profile' %}">Dashboard</a></li>
                <li class="nav-link indent"><a class="hover-underline" href="{% url 'abstract:submit_abstract' %}">New abstract</a></li>
                <li class="nav-link indent"><a class="hover-underline" href="{% url 'account:scholarship_application' %}">Travel scholarship</a></li>
              {% endif %}
              <li class="nav-link indent"><a class="hover-underline" href="{% url 'account:edit_profile' %}">Settings</a></li>
              <li class="nav-link indent"><a class="hover-underline" href="{% url 'account:logout' %}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="container-fluid border-bottom header-border"></div>

    {% include 'core/messages.html' %}

    <!-- Main content -->
    <div id="middle-content" class="container">
      {% block body %}{% endblock %}
    </div>

    <div class="container-fluid border-top footer-border"></div>

    <!-- Footer is not sticky and shift when main content grows -->
    <footer id="footer">
      <p id="footer-links">
        <a href="https://twitter.com/abacbs?lang=en" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://github.com/daniaki/ABACBSAbsSS" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </p>
      <p id="footer-info">
        Australian Bioinformatics and Computational Biology Society Inc.
        <br>
        <a href="tel:+61393452627" class="text-like">+61 3 9345 2627</a>
        <br>
        <a href="mailto:committee@abacbs.org" class="text-like">committee@abacbs.org</a>
      </p>
    </footer>

    <!-- Scripts -->
    <!-- Ask user confirmation to remove themself as an instance admin -->
    <!-- This needs to be here in order to record the user pk from django -->
    <script src="{% static 'core/jquery/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/jquery/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/bootstrap/popper_1.12.9.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/bootstrap/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/select2/select2_4.0.5.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/datatables/datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/fontawesome/fontawesome_5.1.0.min.js' %}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript"></script>
    <script src="{% static 'core/core/base.js' %}" type="text/javascript"></script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>