
<div class="container messages pt-4">
  {% if messages %}
    {% for message in messages %}
      {% if 'success' in message.tags %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <h4 class="alert-heading">Success!</h4>
          <hr style="width: 98%">
          <p>{{ message|safe }}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}

      {% if 'error' in message.tags %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <h4 class="alert-heading text-center">Error!</h4>
          <hr style="width: 98%">
          <p class="pl-4">{{ message|safe }}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}

      {% if 'warning' in message.tags %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <h4 class="alert-heading">Warning!</h4>
          <hr style="width: 98%">
          <p class="pl-4">{{ message|safe }}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}

      {% if 'info' in message.tags %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <h4 class="alert-heading text-center">Information</h4>
          <hr style="width: 98%">
          <p class="pl-4">{{ message|safe }}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>