{% extends "core/base.html" %}
{% load static %}

{% block body %}

  <h1>How to submit</h1>
  <p>Just do it.</p>

  <hr>

  <h1>Demographic Information</h1>
  <p>
    The plots below show the demographic information relating to four
    categories: the applicant's identified gender, career stage, state of residence
    and whether they indentify as an Aboriginal or Torres Straight Islander.

    This information is collected on a per-abstract basis.
  </p>
  <div class="container" id="plots">
    <div class="row">
      <div class="col">
        <div id="gender-plot"></div>
      </div>

      <div class="col">
        <div id="stage-plot"></div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div id="aot-plot"></div>
      </div>

      <div class="col">
        <div id="state-plot"></div>
      </div>
    </div>
  </div>

{% endblock %}


{% block extra_scripts %}
  <script src="{% static 'core/plotly/plotly-latest.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'core/core/plots.js' %}" type="text/javascript"></script>
{% endblock %}
