{% extends 'core/base.html' %}


{% block body %}
  <h1> {{ abstract.title }}</h1>
  <div class="pb-4">
    <a href="{% url 'abstract:abstract_summary' abstract.id %}"><small>{{ abstract.id }}</small></a>
  </div>
  <p><strong>State: </strong>{{ abstract.submitter.profile.state.text|default:"None" }}</p>
  <p><strong>Keywords: </strong>{{ abstract.keywords.all|join:", "|default:'None' }}</p>
  <br><hr>

  <h4>Reviewers</h4><br>
  <p>Below is a table summarising all registered reviewers and their assignments.
    You can use the form below to add/remove reviewers to this abstract.
  </p>
  {% if reviewers.count %}
    <div class="table-responsive">
      <table id="reviewers-table" class="table table-hover display" style="width:100%">
        <thead>
          <th>Username</th>
          <th>Name</th>
          <th>State</th>
          <th>Keywords</th>
          <th>Assigned</th>
          <th>Pending</th>
          <th>Reviewed</th>
          <th>Declined</th>
        </thead>
        <tbody>
          {% for reviewer in reviewers.all %}
            <tr>
              <td>{{ reviewer.username }}</td>
              <td>{{ reviewer.profile.full_name }}</td>
              <td>{{ reviewer.profile.state.text|default:"-" }}</td>
              <td>{{ reviewer.profile.keywords.all|join:', '|default:"-" }}</td>
              <td>{{ reviewer.assignments.count }} </td>
              <td>{{ reviewer.profile.pending_assignments.count|default:"0" }} </td>
              <td>{{ reviewer.profile.accepted_assignments.count|default:"0" }} </td>
              <td>{{ reviewer.profile.declined_assignments.count|default:"0" }} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <p class="text-muted">No reviewers have signed up.</p>
  {% endif %}

  <br><hr>
  <form action="{% url 'account:assign_reviewers' abstract.id %}" method="post">
    {% csrf_token %}
    {% include 'core/bs4_form.html' %}
    <button type="submit" class="btn btn-outline-dark">Save</button>
    <a class="btn btn-outline-dark" href="{% url 'account:profile' %}">Cancel</a>
  </form>
{% endblock %}


{% block extra_scripts %}
<script type="text/javascript">
  $("document").ready(function() {
    let table = $("#reviewers-table").DataTable({
      paging: false,
    });
  });
</script>
{% endblock %}