{% extends 'core/base.html' %}
{% load static %}
{% load user_tags %}

{% block body %}

  <!-- Plot modal -->
  {% include 'account/plot_modal.html' %}

  <div class="container-fluid">
    <h1>
      Abstracts
      <a href="{% url 'account:download_abstracts' %}" class="pl-2">
        <i class="icon fa fa-download" style="font-size: 32px"
           data-toggle="tooltip" title="Download all abstracts in a tsv file."></i>
      </a>
      <a href="{% url 'account:download_scholarships' %}" class="pl-1">
        <i class="icon far fa-money-bill-alt" style="font-size: 32px"
           data-toggle="tooltip" title="Download all travel scholarship applications in a tsv file."></i>
      </a>
    </h1>
    <p>Below is a summary of all abstracts. Click an abstract's row to mark an it
      as included in the conference, 'Save' to save these changes to the database, or 'Show plots'
      for a preview of what the updated demographic statistics will look like.
    </p>
  </div>
  <br><hr>

  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <a id="toggle-selected" class="btn btn-outline-dark mt-1">Toggle selected</a>
        <a id="show-plots" class="btn btn-outline-dark mt-1" data-toggle="tooltip"
           title="Show demographics plots for selected rows.">Show plots</a>
        <a id='save-selected' href="" class="btn btn-outline-danger mt-1" data-toggle="tooltip"
           title="Approve abstracts in selected rows.">Save</a>
      </div>
    </div>
  </div>
  <br><hr>

  <div id='{{ abstract.id }}-list-container' class="table-responsive">
    {% if abstract_list.count %}
      <div class="mb-4">
        Toggle columns:
        <span class="toggle-vis link-like" data-column="4">Career stage</span> -
        <span class="toggle-vis link-like" data-column="5">Gender</span> -
        <span class="toggle-vis link-like" data-column="6">Aboriginal/Torres</span> -
        <span class="toggle-vis link-like" data-column="7">State</span>
      </div>

      <table id="abstract-table" class="table table-hover display" style="width:100%; display: none;">
        <thead>
          <th style="min-width: 200px">Title</th>
          <th>Submitter username</th>
          <th>Submitter name</th>
          <th>Keywords</th>
          <th>Career stage</th>
          <th>Gender</th>
          <th>Aboriginal/Torres</th>
          <th>State</th>
          <th>Reviews</th>
          <th>Comments</th>
          <th>Score</th>
          <th>Categories</th>
        </thead>
        <tbody>
          {% for abstract in abstract_list.all %}
            <tr data-attribute="{{ abstract.id }}" {% if abstract.accepted %}class="selected-row"{% endif %}>
              <td><a href="{% url 'abstract:abstract_summary' abstract.id %}">{{ abstract.title }}</a></td>
              <td>{{ abstract.submitter.username }}</td>
              <td>{{ abstract.submitter.profile.display_name }}</td>
              <td>{{ abstract.keywords.all|join:", "|default:"-" }}</td>
              <td>{{ abstract.submitter.profile.career_stage.text|default:"-" }} </td>
              <td>{{ abstract.submitter.profile.gender.text|default:"-" }} </td>
              <td>{{ abstract.submitter.profile.aboriginal_or_torres.text|default:"-" }} </td>
              <td>{{ abstract.submitter.profile.state.text|default:"-" }} </td>
              <td>{{ abstract.reviews.count|default:"-" }} </td>
              <td>{{ abstract.comments|length|default:"-" }} </td>
              <td>{{ abstract.score|stringformat:"#.3g"|default:"-" }} </td>
              <td>{{ abstract.categories.all|join:", " }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="text-muted">No abstracts have been submitted</p>
    {% endif %}
  </div>
{% endblock %}


{% block extra_scripts %}
<script src="{% static 'core/plotly/plotly-latest.min.js' %}" type="text/javascript"></script>
<script src="{% static 'core/core/plots.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  $("document").ready(function() {
    let toggleSelectedOn = false;

    let table = $("#abstract-table").DataTable({
      dom: "lfrtip",
      buttons: [
        'columnsToggle'
      ],
      pageLength: 25,
      lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
    });

    let nRows = $('tr').length - 1;  // Minus header row
    $("#abstract-table_info").text(
      `Showing ${nRows} of ${nRows} entries`
    );

    $('#abstract-table tbody').on('click', 'tr', function () {
      $(this).toggleClass('selected-row');
    });

    $('.toggle-vis').on( 'click', function (e) {
      e.preventDefault(); // Get the column API object
      let column = table.column($(this).attr('data-column'));
      column.visible(!column.visible());
    });
    $('.toggle-vis').click();

    $('#toggle-selected').click(function () {
      let rows = $('tr');
      let visibleRows = nRows;
      toggleSelectedOn = !toggleSelectedOn;
      for (let i = 0; i < rows.length; i++) {
        let row = $(rows[i]);
        if (!row.hasClass('selected-row')) {
          if (!row.children().is('th')) {
            if (toggleSelectedOn) {
              row.addClass("hidden");
              visibleRows -= 1;
            } else {
              row.removeClass("hidden");
            }
          }
        }
      }
      if (toggleSelectedOn) {
        $("#abstract-table_info").text(
          `Showing ${visibleRows} of ${nRows} entries`
        )
      } else {
        $("#abstract-table_info").text(
          `Showing ${nRows} of ${nRows} entries`
        )
      }
    });

    $("#show-plots").click( function() {
      let abstracts = [];
      let rows = $('tr');
      for (let i=0; i < rows.length; i++) {
        let row = $(rows[i]);
        if (row.hasClass('selected-row')) {
          if (!row.children().is('th')) {
            abstracts.push(row.attr('data-attribute'));
          }
        }
      }
      plotDemographics(abstracts);
      Plotly.Plots.resize('stage-plot');
      Plotly.Plots.resize('state-plot');
      Plotly.Plots.resize('gender-plot');
      Plotly.Plots.resize('aot-plot');
      $("#plot-modal").modal('toggle');
    });

    $("#save-selected").click( function(e) {
      e.preventDefault();
      let abstracts = [];
      let rows = $('tr');
      for (let i=0; i < rows.length; i++) {
        let row = $(rows[i]);
        if (row.hasClass('selected-row')) {
          if (!row.children().is('th')) {
            abstracts.push(row.attr('data-attribute'));
          }
        }
      }
      data = {'abstracts': abstracts};
      console.log(data);
      $.ajax({
        url: window.location.pathname,
        type: 'POST',
        data: data,
        dataType: "json",
        headers:{"X-CSRFToken": "{{ csrf_token }}"},
        success: function (data) {
          console.log('Saved: ' + abstracts);
          window.location.assign(window.location.pathname);
        },
        error : function(xhr, errmsg, err) {
          console.log(xhr.status + ": " + xhr.responseText);
        }
      });
    });
    // alignFilterLeft();
    {#$('.dataTables_filter').parents()[1].children[0].remove();#}
    $('.dataTables_filter').addClass("left-filter");
    $('#abstract-table').fadeIn(500);
  });
</script>
{% endblock %}