{% load form_tags %}

<form class="hidden" id="{{ assignment.id }}-review-form" v-bind:class="{'show': accepted, 'hidden': !accepted}">
  <hr>
  <h4>Review</h4>
  <p class="text-muted">Please fill in your review scores in the space provided. The maximum score for each area is 7, while the minimum is 0. You may also provide additional comments if you wish.
    You may edit this review at any time. Basic markdown is supported. Click the 'Preview' to see your rendered markdown.
  </p>

  <div class="alert alert-success hidden" role="alert" v-bind:class="{'show': acceptSuccessMessage, 'hidden': !acceptSuccessMessage}">
    <h4 class="alert-heading">Success!</h4><hr>
    <p>[[ acceptSuccessMessage ]]</p>
  </div>

  <div class="alert alert-danger hidden" role="alert" v-bind:class="{'show': acceptErrorMessage, 'hidden': !acceptErrorMessage}">
    <h4 class="alert-heading">Error!</h4><hr>
    <p>[[ acceptErrorMessage ]]</p>
  </div>

  <div class="form-row">
    <div class="col">
      <label for="review-{{ assignment.id }}-score-content">{{ score_content_label }}*</label>
      <small class="form-text text-muted">{{ score_content_help }}</small>
    </div>
    <div class="col">
      <label for="review-{{ assignment.id }}-score-contribution">{{ score_contribution_label }}*</label>
      <small class="form-text text-muted">{{ score_contribution_help }}</small>
    </div>
    <div class="col">
      <label for="review-{{ assignment.id }}-score-interest">{{ score_interest_label }}*</label>
      <small class="form-text text-muted">{{ score_interest_help }}</small>
    </div>
  </div>
  
  <div class="form-row">
    <div class="col">
      <input id="review-{{ assignment.id }}-score-content" v-model="reviewScoreContent" type="number"
             class="form-control" max="{{ max_score }}" min="{{ min_score }}"
             v-bind:class="{'is-invalid': reviewScoreContributionError}">
      <p id="review-{{ assignment.id }}-score-content-error" class="invalid-feedback"
         v-bind:class="{'show': reviewScoreContentError, 'hidden': !reviewScoreContentError}">[[ reviewScoreContentError ]]</p>
    </div>
    <div class="col">
      <input id="review-{{ assignment.id }}-score-contribution" v-model="reviewScoreContribution" type="number"
             class="form-control" max="{{ max_score }}" min="{{ min_score }}"
             v-bind:class="{'is-invalid': reviewScoreContributionError}">
      <p id="review-{{ assignment.id }}-score-contribution-error" class="invalid-feedback"
         v-bind:class="{'show': reviewScoreContributionError, 'hidden': !reviewScoreContributionError}">[[ reviewScoreContributionError ]]</p>
    </div>
    <div class="col">
      <input id="review-{{ assignment.id }}-score-interest" v-model="reviewScoreInterest" type="number"
             class="form-control" max="{{ max_score }}" min="{{ min_score }}"
             v-bind:class="{'is-invalid': reviewScoreInterestError}">
      <p id="review-{{ assignment.id }}-score-interest-error" class="invalid-feedback"
         v-bind:class="{'show': reviewScoreInterestError, 'hidden': !reviewScoreInterestError}">[[ reviewScoreInterestError ]]</p>
    </div>
  </div>
  
  <div class="form-group">
    <label for="review-{{ assignment.id }}-text">{{ text_label }}</label>
    <small class="form-text text-muted">{{ text_help }}</small>
    <textarea v-model="reviewText" class="form-control" id="review-{{ assignment.id }}-text"
              v-bind:class="{'is-invalid': reviewTextError}" rows="20"></textarea>
    <p id="review-{{ assignment.id }}-text-error" class="invalid-feedback"
       v-bind:class="{'show': reviewTextError, 'hidden': !reviewTextError}">[[ reviewTextError ]]</p>
  </div>

  <button v-on:click="submitAcceptForm" class="btn btn-outline-success" type="button">Save</button>
  <button v-on:click="previewReviewMarkdown" class="btn btn-outline-dark" type="button">Preview</button>
</form>